<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795109230334-fmrugffuk209g3f57a2kb154js0mefr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795109230334-fmrugffuk209g3f57a2kb154js0mefr7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>795109230334-7u7akv4sifk3klmja94mkrucmt3vq2sq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvnDgZKeStMmuIjISY2eyXU4BCAr-8MPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>795109230334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.famibo</string>
	<key>PROJECT_ID</key>
	<string>family-board-cab4a</string>
	<key>STORAGE_BUCKET</key>
	<string>family-board-cab4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795109230334:ios:2119a532db14d71cf7c7af</string>
</dict>
</plist>